@using System.Reflection.Metadata
<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <MatButton Outlined="true" class="force-white-text">
            Log Out
            <!-- TODO: Figure out how to log out with MatButton -->
            <form id="logout-form" style="display: none;" method="post" action="Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link">Log out</button>
            </form>
        </MatButton>
    </Authorized>
    <NotAuthorized>
        <MatButton Outlined="true" class="force-white-text"><a href="Identity/Account/Register">Register</a></MatButton>
        <MatButton Outlined="true" class="force-white-text"><a href="Identity/Account/Login">Log Out</a></MatButton>
    </NotAuthorized>
</AuthorizeView>