@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>
    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="content px-4">
                    @Body
                </div>
            </Authorized>
            <NotAuthorized>
                Please login to use the application
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
