@page "/"
@using Nummus.Service
@using Nummus.Pages.AccountsOverview.Components
@inject NummusUserService NummusUserService
@inject AccountService AccountService
@inject FormatService FormatService

<h1 class="margin-left-2">Your accounts</h1>

<div class="flex flex-right margin-right-2">
    <MatButton Raised="true" Link="/Create-Account">Create new Account</MatButton>
</div>

<div class="custom-mat-card-flex-container">
    @foreach (var account in AccountService.GetAllAccounts()) {
        <AccountCard AccountId="@account.Id" 
                     AccountName="@account.Name"/>
    }
</div>
