@page "/"
@using Nummus.Service
@inject NummusUserService NummusUserService
@inject AccountService AccountService
@inject FormatService FormatService

<h1 class="margin-left-2">Your accounts</h1>

<div class="flex-right margin-right-2">
    <MatButton Raised="true" Link="/Create-Account">Create new Account</MatButton>
</div>

<div class="custom-mat-card-flex-container">
    @foreach (var account in AccountService.GetAllAccounts()) {
    <MatCard class="custom-mat-card">
        <MatCardContent>
            <MatHeadline6>@account.Name</MatHeadline6>
            <MatSubtitle2>
                @FormatService.FormatToLocalCurrency(AccountService.GetCurrentAccountBalance(@account))
            </MatSubtitle2>
        </MatCardContent>
    </MatCard>
    }
</div>