
.mat-paginator-container {
    background-color: #232323;
    color: white;
}

.mdc-select .mdc-select__anchor {
    background-color: #2F2F2F !important;
    color: white !important;
}

.mdc-select__selected-text {
    color: white !important;
}

.mdc-list-item__ripple {
    background-color: #2F2F2F !important;
}

.mdc-text-field__ripple {
    background-color: #2F2F2F !important;
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__dropdown-icon {
    fill: white !important;
}

.mdc-text-field__input {
    z-index: 1;
    color: white !important;
}

.mdc-list-item__text {
    color: white !important;
    z-index: 1;
}

.mdc-list {
    background-color: #2F2F2F !important;
}

.mdc-list-item {
    color: white !important;
}

.mdc-drawer {
    background-color: #232323;
}

.material-icons {
    color: white;
}

.mdc-floating-label {
    color: white !important;
}

.paginator-button {
    display: block;
    padding: 6px 0 0;
}