/* MatBlazor ignores its own theme implementation many times. 
 All hard coded colour codes shouldn't be necessary any more with future updates of MatBlazor*/

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}

.mdc-list-item {
    color: #ffffff !important;
}

.mdc-drawer {
    background-color: #232323;
}

.margin-left-2 {
    margin-left: 32px;
}

.margin-right-2 {
    margin-right: 32px;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.custom-mat-card-flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 900px) {
    .custom-mat-card {
        flex:  1 0 45%;
        margin: 8px 32px;
        padding: 10px 10px 10px 10px;
    }
}

@media (max-width: 900px) {
    .custom-mat-card {
        flex:  1 0 90%;
        margin: 8px 32px;
        padding: 10px 10px 10px 10px;
    }
}

.force-white-text {
    color: #ffffff !important;
}

.content {
    padding-top: 1.1rem;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
